{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{msg}}
    <form method="post" action="{% url 'admin_login' %}">
        {% csrf_token %}
        <input type="text" name="farmer_email_check" placeholder="Email">
        <input type="password" name="farmer_password_check" placeholder="Password">
        <input type="submit">
    </form>
    
</body>
</html>